.header {
    height: 350px;
    background-image: url("https://vignette.wikia.nocookie.net/kingofthehill/images/5/50/Wiki-background/revision/latest?cb=20130524033249");
    background-size: contain;
    padding-top:150px;
    color: #fff;
    text-align: center;
}