.nav {
    background: #3d85b4;
    height: 70px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-size:30px;
    z-index: 99;
    white-space: nowrap;
}

.nav li {
    display: inline-block;
    padding-top:10px;
    margin-left:5px;
    width: 50%;
}

